<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>com.plex.plexconnect</string>
	<key>OnDemand</key>
	<false/>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/darky/Projects/PlexConnect/PlexConnect.py</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>ServiceDescription</key>
	<string>PlexConnect</string>
	<key>UserName</key>
	<string>root</string>
	<key>WorkingDirectory</key>
	<string>/Users/darky/Projects/PlexConnect</string>
</dict>
</plist>
